body {
    padding: 0;
}

ul {
	padding-left: 1.1em;
	list-style-type: square;
}

a, a:hover {
	color: #429285;
}

h1 {
    margin-top: 0;
    margin-bottom: 30px;
}
header p {
    margin: 5px 0;
}

p {
    font-size: 20px;
    text-align: justify;
}

.first p {
    font-size: 25px;
    font-weight: 500;
}

.line {
    height: 1px;
    width: 100%;
    background: #636366;
}

.row {
    margin: 80px 0 80px 0;
}

.p-center {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
}

.partners {
    background: #429285;
    text-align: center;
    color: white;
    padding-bottom: 30px;
    margin-bottom: 0;
}

.partners h2 {
    margin-bottom: 20px
}

.partners img, div {
    margin: 0 auto;
}

.header-img {
    margin-top: 0;
    width:100%;
    height:400px;
    /*height:calc(100% + 50px);*/
    background: url('../images/header-ror.jpg') no-repeat center;
    background-size: cover;
}
.header-img img {
    margin-top: 10px;
    margin-left: 10px;
    width: 200;
}

.header-img p {
    text-align: left;
    margin-left: 30px;
    color: #429285;
    font-size: 30px;
    margin-bottom: 0;
    font-weight: 500;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/

}

.title {
    margin-top: 10px;
}
.city {
    margin-left: 60px !important;
}

.social-icons {
    color: white ;
    font-size: 30px;
    position:absolute;
    top: 20px;
    right: 20px;
}
.social-icons i {
    margin-right: 10px;
    color: #fdf5e2;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btn {
    border-radius: 0;
    background-color: #429285;
    border-color: transparent;
    font-size: 22px;
    padding: 10px 30px 10px 30px;
}

.btn:hover {
    border-color: transparent;
    background-color: #429285;
    opacity: 0.8;
}

.btn:active {
    border-color: transparent;
    background-color: #429285 !important;
}

.btn:focus {
    border-color: transparent;
    background-color: #429285 !important;
}

@media only screen and (min-width: 310px) and (orientation:portrait) {
    .header-img {
        height:200px;
        margin-bottom: 40px;
    }

    .header-img img {
        margin: 0;
        width: 100;
    }

    .first {
        margin-top: 40px;

    }
}